<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="DataBase" connectionString="Data Source=JUANIGNACIO1D35\SQLEXPRESS;Initial Catalog=ChainOfResponsibility;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<!-- Configuración de SMTP -->
		<add key="SmtpServer" value="smtp.gmail.com"/>
		<add key="SmtpPort" value="587"/>
		<add key="SmtpEmail" value=""/> <!-- Correo propio -->
		<add key="SmtpPassword" value=""/> <!-- Contrasena de la aplicacion -->
	</appSettings>
</configuration>